<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- CONECTAR A LA BD-->
  <connectionStrings>
	  <add name="conectar" connectionString="Data Source=.;Initial Catalog=AppGestion;Integrated Security=True" />
    <!--<add name="conectar" connectionString="Data Source=SQL5105.site4now.net;Initial Catalog=db_a82488_dbgestion;User Id=db_a82488_dbgestion_admin;Password=unsaac2022" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

